{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="center">
    <p class=""><a class="f5 bg-red white p5" href="{{.Site.BaseURL}}post/">بازگشت</a></p>
</div>

{{ "<!----------------------------------------------------------------------- -->" | safeHTML }}

<article id="post" role="article">
<header class="center bb-bold-black">
 <h1 class="f1 mt30 mb30">
  <a class="black fh-red" rel="bookmark" href="{{.Permalink}}">{{.Title}}</a>
 </h1>
{{ if ne .Params.singlepage "true" }}
 <div class="pb10 f5 gray2">
  <time class="" datetime="{{ .Date.Format "January 2, 2006" }}">{{ .Params.jdate }}</time>
 </div>
{{ end }}
</header><!-- .entry-header -->

<div class="entry-toc">
{{ if .Params.toc }}
{{ .Params.toc | safeHTML}}
{{ end }}
</div>

<div class="entry-content p10">
{{ .Content }}
</div><!-- .entry-content -->

<footer class="p5 pt40 pb40">
 {{ if ne .Params.singlepage "true" }}
 <div class="cat-links">
  <p><strong>دسته‌بندی:</strong>
  {{ range .Params.topic }}
   <a href="{{ $baseurl }}topic/{{ . | urlize }}">{{ . }}</a>.
  {{ end }}
  </p>
 </div>
{{end}}
</footer><!-- .entry-footer -->
</article><!-- #post-## -->
{{ "<!----------------------------------------------------------------------- -->" | safeHTML }}

{{ if ne .Params.singlepage "true" }}
<div class="comments">
<div>
<h2>نظرات</h2>
{{ partial "disqus.html" . }}
</div>
</div>
{{ end }}

{{ partial "footer.html" . }}
