@font-face {
	font-family: Sahel;
	src: url(../fonts/Sahel.woff);
	font-weight: 400;
	font-style: normal;
}
#Sahel * {font-family: Sahel;}

@font-face {
	font-family: Sahel-Bold;
	src: url(../fonts/Sahel-Bold.woff);
	font-weight: 700;
	font-style: normal;
}
#Sahel-Bold * {font-family: Sahel-Bold;}

html, body{
    font-size: 16px;
	height: 100%;
	padding: 0;
    margin: 0;
    color: #404040;
	font-family: Sahel, serif;
	font-weight: 400;
	line-height: 1;
}
b, h1, h2, h3, h4, h5, h6, strong {
	font-family: Sahel-Bold;
	font-weight: 700;
}
h1 {font-size: 2.2rem; line-height: 1.4}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.1rem;}
p {
    font-size: 1.1rem;
	padding: 0;
	margin: 0;
	line-height: 1.8; 
}
a {
	background-color: transparent;
	text-decoration: none;
	color: #F03838; 
}
code, pre {
	margin: 20px 0;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: .9em;
	line-height: 1.5; 
}
pre {
	border: 1px solid #ddd;
	background: #F7F7F7;
	padding: 20px 5px;
	direction: ltr;
    text-align: left;
    overflow: auto;
}
ol, ul {
	list-style-type: square; 
    line-height: 1.7;
    margin-top: 20px;
}


/* Side Menu */
.side-menu, .side-menu-list {
    position: fixed;
    padding: 0;
	width: 100%;
    top: 0;
    text-align: center;
}
.side-menu-list {
	right: -240px;
	background: #F7F7F7;
	border-left: 1px solid #ccc;
	width: 240px;
	height: 100%;
	font-size: .9em;
	text-align: right;
}
.side-menu-list ul {
    padding: 0;
    list-style-type: none;
}
.side-menu-list li {
	padding: 1rem;
}
.side-menu, .side-menu-list, .side-menu-activate {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}


/* Entry */
.entry-content p {
	padding-top: 20px;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
	margin: 0;
	padding-top: 50px;
}
.entry-content ol, .entry-content ul {
	list-style-type: square; 
}
.entry-content li {
    margin-bottom: 15px; 
    font-size: 1rem;
}
.entry-content img {
	padding: 20px 0;
}
.in-red {
	color: #AD0000;
}


.post-navigation {
	padding-top: 30px;
}
.comments {
	padding: 2em 1em 3em;
	background: #ddd;
	border: 1px solid #ccc;
}
.comments div {
	max-width: 850px;
	margin: 0 auto;
}
.comments h2 {
	line-height: 20px;
}


/* Pagination */
.pagination {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.pagination li {
	display: inline-block;
	padding: 0 10px;
}

/* Disqus */
.down, .vote-down {
	display: none;
}


/* 
Functional CSS 
--------------------
*/
.entry-content {}
.entry-toc {}

.rtl {direction: rtl; text-align: right}
.ltr {direction: ltr; text-align: ltr}
.center {text-align: center}
.middle {margin: 0 auto}
.site { min-height: 100%; position: relative;}
.block {display: block}
.absolute {position: absolute}
.fixed {position: fixed}

.top {top:0}
.top-right   {top:0; right:0}
.bottom-left {bottom: 0; left: 0;}

.left0    {left: 0}
.left240  {left: 240px}

.right0   {right: 0}
.right240 {right: 240px}

.nobullet {list-style-type: none;}

/* Width's */
.w100pr {width: 100%;}
.w50  {width: 50px;}
.w100 {width: 100px}
.w150 {width: 150px}
.w200 {width: 200px}
.w250 {width: 250px}
.w300 {width: 300px}
.w350 {width: 350px}
.w400 {width: 400px}
.w500 {width: 450px}
.w600 {width: 600px}
.w700 {width: 700px}
.w800 {width: 800px}
.w850 {width: 850px}
.w900 {width: 900px}

.w1r  {width: 2rem}
.w2r  {width: 2rem}
.w4r  {width: 4rem}
.w6r  {width: 6rem}
.w8r  {width: 8rem}
.w10r {width: 10rem}

/* Height's */
.h50  {height: 50px}
.h100 {height: 100px}
.h150 {height: 150px}
.h200 {height: 200px}
.h250 {height: 250px}
.h300 {height: 300px}
.h350 {height: 350px}
.h400 {height: 400px}
.h500 {height: 500px}
.h600 {height: 600px}
.h700 {height: 700px}
.h800 {height: 800px}
.h850 {height: 850px}
.h900 {height: 900px}

/* Font sizes */
.f1 { font-size: 2.2rem; }
.f2 { font-size: 1.8rem; }
.f3 { font-size: 1.4rem; }
.f4 { font-size: 1.1rem; }
.f5 { font-size: 0.9rem; }
.f6 { font-size: 0.7rem; }


/* Colors */
.black {color: #404040}
.red   {color: #F03838;}
.white {color: #fefefe;}
.gray  {color: #F7F7F7}
.gray2 {color: #999999}

.bg-black {background-color: #404040}
.bg-red   {background-color: #F03838;}
.bg-gray  {background-color: #F7F7F7}
.bg-white {background-color: #fefefe;}

.bh-black:hover {background-color: #404040}
.bh-gray:hover {background-color: #F7F7F7}
.fh-red:hover {color: #F03838;}

/* Margins */
.m5  {margin: 5px;}
.m10 {margin: 10px}
.m15 {margin: 15px}
.m20 {margin: 20px}
.m30 {margin: 30px}
.m40 {margin: 40px}

.mt5  {margin-top: 5px;}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt30 {margin-top: 30px}
.mt40 {margin-top: 40px}

.mb5  {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb30 {margin-bottom: 30px}
.mb40 {margin-bottom: 40px}

/* Paddings */
.p5  {padding: 5px;}
.p10 {padding: 10px}
.p15 {padding: 15px}
.p20 {padding: 20px}
.p30 {padding: 30px}
.p40 {padding: 40px}
.p50 {padding: 50px}

.pt5  {padding-top: 5px;}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt30 {padding-top: 30px}
.pt40 {padding-top: 40px}
.pt50 {padding-top: 50px}

.pb5  {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb30 {padding-bottom: 30px}
.pb40 {padding-bottom: 40px}
.pb50 {padding-bottom: 50px}
.pb120 {padding-bottom: 120px}

/* Borders */
.bb-bold-black {border-bottom: solid 3px #404040;}


@media (max-width:768px) {
    html {font-size: 15px}
    .main {width: 100%;}
}
