
</main>
</div>{{ "<!-- primary ends. -->" | safeHTML }}
</div>{{ "<!-- content ends. -->" | safeHTML }}


<footer id="footer" class="absolute bottom-left w100pr pt40 pb40 center bg-black" role="footer">
 <div class="f5">
  <a class="block pb15 gray2" href="{{.Site.BaseURL}}" rel="copyright">
  امیررضا قادری. تمام حقوق محفوظ است.
  </a>
  <a class="block gray2" href="http://creativecommons.org/licenses/by-nc/4.0/">
  مطالب تحت مجوز کریتیو کامنز (CC BY-NC 4.0) منتشر شده‌اند.
  </a>
 </div>
</footer>

</div>{{ "<!-- page ends. -->" | safeHTML }}

<script type="text/javascript" src="{{.Site.BaseURL}}js/site.js" ></script>
</body>
</html>
