
</main>
</div>{{ "<!-- primary ends. -->" | safeHTML }}
</div>{{ "<!-- content ends. -->" | safeHTML }}


<footer id="colophon" class="site-footer" role="footer">
 <div class="site-info">
  <a href="http://amirrezaghaderi.com/" rel="copyright">
  امیررضا قادری. تمام حقوق محفوظ است.
  </a>
  <br>
  <a href="http://creativecommons.org/licenses/by-nc/4.0/">
  مطالب تحت مجوز کریتیو کامنز (CC BY-NC 4.0) منتشر شده‌اند..
  </a>
 </div>
</footer>

</div>{{ "<!-- page ends. -->" | safeHTML }}

<script type="text/javascript" src="{{.Site.BaseURL}}static/js/site.js" ></script>
</body>
</html>
