<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
<meta charset="utf-8">
<title>{{.Title}} | وب نوشت‌ها | امیررضا قادری</title>

{{ if .Params.postdesc }}
<meta name="description" content="{{.Params.postdesc}}"/>
{{ else }}
<meta name="description" content="وبلاگ شخصی امیررضا قادری، توسعه دهنده‌ی نرم افزار و سرویس های مبتنی بر وب"/>
{{ end }}

{{ if .Params.postkeywords }}
<meta name="keywords"    content="{{.Params.postkeywords}}"/>
{{ else }}
<meta name="keywords"    content="برنامه نویسی, برنامه‌نویسی, کد, همروند, وب, ارلنگ, الیکسیر, فانکشنال, پایتون, گولنگ, لینوکس, یونیکس, موازی, شبکه">
{{ end }}

<meta name="viewport"    content="width=device-width, initial-scale=1">
<meta name="author"      content="Amirreza Ghaderi">
<meta name="robots"      content="INDEX,FOLLOW">

<link rel="stylesheet"    href="{{.Site.BaseURL}}css/style.css" type="text/css"/>
<link rel="stylesheet"    href="{{.Site.BaseURL}}css/solarized-light.css" type="text/css"/>

<link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL}}favicon.png">
<link rel="alternate"     href="{{.Site.BaseURL}}index.xml" type="application/rss+xml" title="Amirreza's blog"/>

<script type="text/javascript">
if("querySelector"in document&&"addEventListener"in window&&"classList"in document.documentElement){}else{window.location="{{.Site.BaseURL}}/old-browser.html"}
</script>

<!-- include analytic -->

</head>

<body>

<div id="page" class="site rtl">

<header id="page-header" class="h100" role="banner">
<nav id="side-menu" class="side-menu" role="navigation">
  <a id="side-menu-btn" class='side-menu-btn white bg-red bh-black p15 w100 block' href="#menu">منوی سایت</a>
  <div id="side-menu-list" class="side-menu-list">
    <ul>
      <li><a href="{{.Site.BaseURL}}">صفحه نخست</a></li>
      <li><a href="{{.Site.BaseURL}}post/">فهرست مطالب</a></li>
      <li><a href="{{.Site.BaseURL}}topic/">دسته‌بندی بر اساس موضوعات...</a></li>
      <li><a href="{{.Site.BaseURL}}contact/">تماس</a></li>
      <li><a href="{{.Site.BaseURL}}index.xml">فید</a></li>
    </ul>
  </div>
</nav>
</header><!-- end header -->

<div id="content" class="pb120">
<div id="primary" class="">
<main id="main" class="main w850 middle" role="main">
